@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --background: white;
    --text-primary: black;
    --text-secondary: royalblue;
    --accent: purple;
}

[data-theme='dark'] {
    --background: black;
    --text-primary: white;
    --text-secondary: grey;
    --accent: darkred;
}